$font-main: 16px 'Roboto';
$color-main: #60759D;

$background-button: #e70067;
$background-button-hover: #C9005A;

$light-blue: #5489c3;
$light-sky-blue: #C0E4F5;
$light-azure: #16AFE0;


@mixin fac { /* Flex All Center */
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin header-footer {
	position: relative;
	@include fac;
	justify-content: flex-start;
	flex-direction: column;
	color: #fff;
}

@mixin btn($width, $bcolor, $background-button-hover) {
	@include fac;
	border-radius: 30px;
	width: $width;
	height: 60px;
	background: $bcolor;
	color: #fff;

	&:hover {
		background: $background-button-hover;
	}
}

@mixin bcn64($base64) {/* Background Center No repeat*/
	background: center no-repeat url(#{$base64});
}

@mixin numberedList($margin) {
	li {
		padding-left: 14px;
		margin: $margin;

		&:before {
			font-size: 1.5em;
			position: absolute;
			content: "•";
			color: $light-azure;
			margin: -6px 0 0 -14px;
		}
	}
}